// Variables
@import "./variables.styles.scss";

// styles
@import "./Components/colors.styles.scss";
@import "./Components/typography.styles.scss";
@import "./Components/utilities.styles.scss";
@import "./Components/buttons.styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  color: $default;
  background: linear-gradient(
        90deg,
        $app-bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($app-bg-color ($dot-space - $dot-size), transparent 1%)
      center,
    $dot-color !important;
  background-size: $dot-space $dot-space !important;
  overflow-x: hidden;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}
.block {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

a {
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
}

.pointer {
  cursor: pointer;
}

.disable-input {
  cursor: not-allowed;
  border: 2px solid #06041a !important;
  background-color: #06041a !important;
}
