@import "../../assets/scss/variables.styles.scss";

.library__card {
  margin: 0.5rem 0;
  font-family: $font-family-alt;
  background-color: $primary;
  padding: 1.5rem;
  box-shadow: $card-box-shadow;
  max-width: 100%;

  & > .library__card__header {
    word-break: break-all;
  }

  & > .library__card__body {
    & > p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > button {
      margin: 1rem 0;
    }
  }

  & > .library__card__footer {
    & > h5 {
      font-weight: $font-weight-light;
    }

    & > .library__card__footer__contributor__info {
      margin-top: 0.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > img {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 1rem;
      }
      & > h5 {
        font-weight: $font-weight-light;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (min-width: 768px) {
  .library__card {
    max-width: 18rem;
    margin: 0.5rem;
  }
}
@media (min-width: 1200px) {
  
}
