@import "../../assets/scss/variables.styles.scss";

.form-input-light {
  margin: 0 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid $default;
  transition: all 0.15s ease;
  &:hover {
    box-shadow: $btn-hover-box-shadow;
    transform: translateY(-1px);
  }
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

@media (min-width: 768px) {
  .form-input-light {
    width: 70%;
  }
}
