@import "../../assets/scss/variables.styles.scss";

.category__capsule {
  margin: 0.3rem 0.1rem;
  width: fit-content;
  border: 4px solid #4136f1;
  font-weight: 400;
  padding: 0.2rem 1rem;
  font-size: 1rem !important;
}

.category__capsule__selected {
  background-color: #4136f1;
}

@media (min-width: 1200px) {
  .category__capsule {
    margin: 0.3rem 1rem;
    font-size: 1.5rem !important;
  }
}
