@import "../../assets/scss/variables.styles.scss";

.project__contribution__container {
  margin-top: 0.5rem;
  & > .project__contribution__hero__text {
    padding-top: 0.7rem;
    font-size: $h1-font-size !important;
    text-align: center;
  }
  & > p {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: $btn-letter-spacing;
    text-align: center;
  }
  & > .project__contribution__card {
    background-color: $primary;
    padding: 2rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > .project__contribution__profile {
      text-align: center;

      & > a {
        color: $default;
        font-weight: $font-weight-light;
        & > img {
          width: 100px;
          height: 100px;
          border: 2px solid $default;
        }
        & > h3 {
          font-weight: $font-weight-light;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .project__contribution__container {
    & > .project__contribution__hero__text {
      font-size: 3rem !important;
    }
    & > .project__contribution__card {
      & > .project__contribution__profile {
        margin: 0.5rem 1rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .project__contribution__container {
    margin-top: 2rem;
    & > .project__contribution__hero__text {
      font-size: 4rem !important;
    }
    & > p {
      font-size: 1.8rem !important;
    }
    & > .project__contribution__card {
      margin-top: 5rem;
    }
  }
}
