.btn {
  font-family: $font-family-base !important;
  display: flex;
  align-items: center;
  font-weight: $btn-font-weight;
  letter-spacing: $btn-letter-spacing;
  font-size: $input-btn-font-size-sm;
  transition: all 0.15s ease;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none !important;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  will-change: transform;
  border: $btn-border-width solid transparent;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  border-radius: 8px;
  line-height: $input-btn-line-height-sm;

  cursor: pointer;
  &:hover {
    box-shadow: $btn-hover-box-shadow;
    transform: translateY(-1px);
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
  &:active,
  &.active {
    box-shadow: $btn-active-box-shadow;
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.btn.btn-primary {
  background: rgb(135, 67, 255);
  background: linear-gradient(
    221deg,
    rgba(135, 67, 255, 1) 34%,
    rgba(65, 54, 241, 1) 74%
  );
  color: $default;
}
.btn.btn-secondary {
  background-color: $warning;
  color: $default;
}
.btn.btn-github {
  background-color: $primary;
  color: $default;
}

@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .btn {
    font-size: $input-btn-font-size-lg;
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
    line-height: $input-btn-line-height-lg;
    letter-spacing: 0.05em;
  }
}
