.white,
.default {
  color: #fff;
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.success {
  color: $success;
}
.info {
  color: $info;
}
.warning {
  color: $warning;
}
.danger {
  color: $danger;
}
.app-bg-color {
  color: $app-bg-color;
}
