@import "../../assets/scss/variables.styles.scss";

.navbar {
  position: relative;
}

.navitem {
  font-size: $h6-font-size;
  font-weight: $font-weight-normal;
}

.hero__gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgb(135, 67, 255);
  background: linear-gradient(
    221deg,
    rgba(135, 67, 255, 1) 34%,
    rgba(65, 54, 241, 1) 74%
  );
  height: 30rem;
  transform: skewY(-4deg);
  transform-origin: left top;
  z-index: -1;
}

.navbar__contents__lg {
  display: none;
  visibility: hidden;
}

.navbar__contents__sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__toggle__menu > i {
  margin-top: -1rem;
  margin-right: 2rem;
}

.navbar__contents__sm__container {
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  margin: -1rem 1rem;
  background-color: $default;
  border-radius: 6px;
  padding: 1rem;
  & > div {
    margin: 1rem 0;
    color: $app-bg-color;
  }
}

@media (min-width: 768px) {
  .navbar__contents__sm,
  .navbar__toggle__menu,
  .navbar__contents__sm__container {
    display: none;
    visibility: hidden;
  }

  .navbar__contents__lg {
    display: block;
    visibility: visible;
    display: flex;
    align-items: center;
  }

  .navbar__navitems {
    display: flex;
    & > div {
      margin: 0 1rem;
    }
  }

  .navbar__button {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .hero__gradient {
    height: 30rem;
  }
  .navitem {
    font-size: $h5-font-size;
    font-weight: $font-weight-normal;
  }
}

@media (min-width: 1200px) {
  .hero__gradient {
    height: 40rem;
  }
}

@media (min-width: 4000px) {
  .hero__gradient {
    transform: skewY(-1deg);
  }
}
