@import "../../assets/scss/variables.styles.scss";

.profile__contribution__card__card {
  margin: 0.5rem 0;
  font-family: $font-family-alt;
  background-color: $primary;
  padding: 1.5rem;
  box-shadow: $card-box-shadow;
  max-width: 100%;

  & > .profile__contribution__card__card__header {
    word-break: break-all;
  }

  & > .profile__contribution__card__card__body {
    & > p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > a {
      & > button {
        margin: 1rem 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .profile__contribution__card__card {
    max-width: 18rem;
    margin: 0.5rem;
  }
}
