@import "../../assets/scss/variables.styles.scss";

.sidebar__lg {
  display: none;
}
.sidebar__sm {
  border: 1px solid $primary;
  background-color: $primary;
  padding: 0.5em 1em;
  margin: 0 0.7rem;
}
.sidebar__sm__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h3 {
    font-weight: 300 !important;
  }
}

.sidebar__sm__contents {
  margin: 0.5rem 1rem;
}

.sidebar__sm__contents__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h5 {
    font-weight: 400 !important;
  }
}

@media (min-width: 768px) {
  .sidebar__sm {
    margin: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .sidebar__sm {
    margin: 0 0;
    display: none;
  }
  .sidebar__lg {
    display: block;
    border: 1px solid $primary;
    background-color: $primary;
    padding: 0.5em 1em;
  }
}
