@import "../../assets/scss/variables.styles.scss";

.image__card__card {
  margin: 0.5rem 0;
  font-family: $font-family-alt;
  background-color: $primary;
  padding: 1rem;
  box-shadow: $card-box-shadow;
  max-width: 100%;

  & > .image__card__card__body {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    & > a {
      width: 100%;
      height: 150px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 1rem;
      border-radius: 8px;
    }
    & > .image__card__card__content {
      width: 100%;

      & > .image__card__card__header {
        word-break: break-all;
        line-height: 1.375;
        font-size: 1.5rem;
      }

      & > .image__card__card__description {
        & > p {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & > a {
          & > button {
            margin: 1rem 0;
          }
        }
      }
    }
  }

  .image__card__card__footer {
    border-bottom: 1px solid #e5e7eb3b;
    & > h5 {
      font-weight: $font-weight-light;
    }

    & > .image__card__card__footer__contributor__info {
      margin: 0.5rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > img {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 1rem;
      }
      & > h5 {
        font-weight: $font-weight-light;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (min-width: 768px) {
  .image__card__card {
    max-width: 21rem;
    margin: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .image__card__card {
    margin: 0.5rem 0;
    font-family: $font-family-alt;
    background-color: $primary;
    padding: 1rem;
    box-shadow: $card-box-shadow;
    max-width: 100%;

    & > .image__card__card__body {
      margin-top: 1rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      & > a {
        width: 400px;
        height: 200px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;
        border-radius: 8px;
      }
      & > .image__card__card__content {
        width: 75%;

        & > .image__card__card__header {
          word-break: break-all;
          line-height: 1.375;
        }
      }
    }
  }
}
