@import "../../assets/scss/variables.styles.scss";

.profile__data_container {
  position: relative;

  & > .profile__data {
    cursor: pointer;
    display: flex;
    align-items: center;
    & > h5 {
      margin-right: 5px;
      font-weight: $font-weight-light;
    }
    & > img {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $default;
    }
  }
  & > .profile__dropdown {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 6px;
    background-color: $default;
    padding: 0.5rem 1rem;

    & > .logout__user {
      cursor: pointer;
      display: flex;
      align-items: baseline;
      color: $primary;
      & > h6 {
        margin-right: 0.5rem;
        font-weight: $font-weight-normal;
      }

      &:hover {
        color: $secondary;
      }
    }
  }
}
.user__profile {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  color: $primary;
  & > h6 {
    margin-right: 0.5rem;
    font-weight: $font-weight-normal;
  }

  &:hover {
    color: $secondary;
  }
}
